*{
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}

body{
  background-image: linear-gradient(to bottom right, black, rgb(80, 30, 30), rgb(179, 36, 36));
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.box1, .box2, .box3{
  display: flex;
  width: 8vw;
  height: 8vw;
  border: rgb(128, 0, 0) 2.25px solid;
  margin: 1vw;
  border-radius: 3vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0);
  cursor: pointer;
  animation-play-state: running;
  font-size: larger;
}

.box2{
  width: 5vw;
  height: 5vw;
  border: rgb(128, 0, 0) 1.5px solid;
  margin: 0.75vw;
  border-radius: 1.5vh;
}

.box3{
  width: 7.5vw;
  height: 7.5vw;
  border: rgb(255, 73, 73) 2.1px solid;
  border-radius: 3.5vh;
}

.box1:hover,.box2:hover, .box3:hover{
  animation: press 1s forwards;
}

@keyframes press{
  100% {background-color: red;}
}

.screen{
  display: inline-block;
  height: 87.25vh;
  width: calc(35vw - 6vh);
  background-color: rgba(1, 77, 1, 0.479);
  position: absolute;
  left: 63vw;
  bottom: 1.5vw;
  line-height: 10vh;
  word-wrap: break-word;
  border-radius: 5vh;
  color: rgb(42, 145, 1);
  font-size: 2rem;
  font-family: 'Nanum Myeongjo', serif;
  padding: 3vh;
  border: white 3px solid;
}